.container {
    margin: 0 auto;
    max-width: 1135px;
    width: 100%;
    align-items: flex-end;
}

.toggle-card {
    position: absolute;
    right: 55px;
    transform: rotate(0);
    transition: transform 290ms cubic-bezier(0.79, 0.01, 0.38, 0.99);
}

.toggle-card.rotate {
    transform: rotate(180deg);
}

.card-container {
    background-color: #FFF;
    border: 2px solid #F5F6FB;
    border-radius: 8px;
    padding: 55px 192px;
    position: relative;
}

.modal-content {
    max-width: 100%;
    width: 560px;
}

.header-content {
    background-color: #F8F8F8;
    height: 240px;
}

.warning-icon {
    height: 16px;
    width: 16px;
}

.hide {
    display: none;
}

.no-border-back {
    background: transparent;
    border: none;
}

.row.no-wrap {
    flex-wrap: nowrap;
}